{{>header}}
<header class="row-fluid text-center">
  <h1>Ntalk</h1>
  <h4>Aconteceu algo terrível! :(</h4>
</header>
<section class="row-fluid text-center">
  <p class="text-left">
    Veja o que aconteceu...
    <br>
    Erro: {{err.message}}
    <hr>
    Que tal voltar a <a href="/">página inicial?</a> :)
  </p>
</section>
{{>footer}}