{{>header}}
<header class="row-fluid text-center">
  <h2>Ntalk - Agenda de contatos</h2>
</header>
<section class="row-fluid">
  <section class="span12">
    <form action="/contact" method="post" class="well form-inline">
      <input type="text" name="contact[name]" placeholder="Nome">
      <input type="text" name="contact[email]" placeholder="E-mail">
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
    <table class="table well">
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
		{{#each contacts as |contact idContact|}}
			<tr>
				<td>{{contact.name}}</td>
				<td>{{contact.email}}</td>
				<td>
					<a href="/contact/{{idContact}}" class="btn btn-info">Detalhes</a>
				</td>
			</tr>
		{{/each}}
		</tbody>
    </table>
  </section>
</section>
{{>exit}}
{{>footer}}
